.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.page-header {
	width: 100%;
    background-image: url('/assets/image/banner_2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
	background-color: $header-bg-color;
}

body{
	background-color: $bg-color;
	background-image: url('/assets/image/background_s.5.jpg');
}

.main-content{
  background-color: $content-bg-color;
  background-image: linear-gradient(120deg, $content-bg-color-secondary, $content-bg-color);
}