.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.section-single-background{
  background-repeat: no-repeat;
  background-position: center;
}

.page-header {
	width: 100%;
  //background-image: url('/assets/image/banner_2.jpg');
  background-repeat: no-repeat;
  //background-size: contain;
	//background-size: auto auto;
	background-image: linear-gradient(90deg, $content-bg-color-secondary, $content-bg-color);
  background-position: center;
	background-color: $header-bg-color;
}

#banner{
	width: 100%;
	//height: 12.45rem;
 	padding-top: 16.38%;/* 201px/1227px = 0.16381418092909535452322738386308 */
	margin:1rem 0;
	//width: 1227px;
	//height: 201px;
	@extend .section-single-background;
	background-image: url('/assets/image/railrecon_banner.png');
  background-size: contain;
}

body{
	background-color: $bg-color;
}

.main-content{
  background-color: $content-bg-color;
  background-image: linear-gradient(90deg, $content-bg-color-secondary, $content-bg-color);
	.b0{
	}
	.b1{
	background-image: url('/assets/image/back_01_2.jpg');
	@extend .section-single-background;
	}
	.b2{
	background-image: url('/assets/image/background_s.5.jpg');
		//text-align: right;
	}
	.b3{
	background-image: url('/assets/image/back_02.jpg');
	@extend .section-single-background;
	}
	.b4{
	background-image: url('/assets/image/background_s.5.jpg');
		//text-align: right;
	}
	.b5{
	}
	h2{
	  font-size: 2.7rem;
	}
}
.total-width{
	width:100%;
}

.width-section{
	min-height:770px;
}

.sub-main-content{
    max-width: $page-width;
    padding: 2rem 6rem;
    margin: 0 auto;
		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
}

.site-footer{
    max-width: $page-width;
		min-height: 20rem;
    padding: 2rem 6rem;
    margin: 0 auto;
}

@media only screen and (max-width: 76rem) {
	.sub-main-content,.site-footer{
		padding: 2rem 1rem;
	}
}

.sub-page-header{
    min-height: 30px;
    max-width: $page-width;
    margin: 0 auto;
		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
		overflow: auto;
		h1{
	    font-size: 1.5rem;
			float: left;
			display: block;
		}
		.social-button{
			float: right;
			position: relative;
			top: 0px;
			right: 0px;
			display: block;
			margin: 0px 5px;
		}
}

#top-section{
	padding: 0 0 0 0;
}

.nav-footer{
	width:100%;
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    //background-color: #333;
	}
	li {
	    float: left;
				width: 16.66%;
			a {
				text-align: center;
	    	color: #bbb;
			}
			a:hover {
				color: #ddd;
			}
	}
}

.topnav {
	//
	margin: 0rem 0rem 0rem 0rem;
	background-image: url('/assets/image/background_64.png');
	ul {
  		max-width: $page-width;
			margin: 0 auto;
	    list-style-type: none;
	    padding: 0;
	    overflow: hidden;
	    //background-color: #333;
			background-image: url('/assets/image/rails_3.png');
			//background-image: ;
	}
	li {
	    float: left;
			width: 16.66%;
	}
	li:hover{

		//filter: grayscale(100%) blur(2px);
	}
	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
			line-height: 1.63;
	    height: 64px;
		  color: #ef6f57;
			font-weight: bolder;
	}
	li a:hover {
		  color: $text-menu-hover-color;
  	transition: .3s all;
		text-shadow:  #444 0px 0px 10px, rgb(0, 0, 0) 0px 0px 20px, rgb(0, 0, 0) 0px 0px 30px;

	}
}

@media only screen and (max-width: $page-width) {
	.topnav {
		background-image: none;
		background-color: #333;
		ul {
			background-image: none;
		}
		li {
		    float: left;
				width: 100%;
				a{
			    height: 44px;
					line-height: 0.8;
				}
		}
	}

	.nav-footer{
		li {
		    float: left;
				width: 100%;
		}
	}
}
