.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.page-header {
	width: 100%;
    background-image: url('/assets/image/banner_2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	background-color: $header-bg-color;
}

body{
	background-color: $bg-color;
}

.section-single-background{
  background-repeat: no-repeat;
  background-position: center;
}

.main-content{
  background-color: $content-bg-color;
  background-image: linear-gradient(120deg, $content-bg-color-secondary, $content-bg-color);
	.b0{
	}
	.b1{
	background-image: url('/assets/image/back_01_2.jpg');
	@extend .section-single-background;
	}
	.b2{
	background-image: url('/assets/image/background_s.5.jpg');
	}
	.b3{
	background-image: url('/assets/image/back_02.jpg');
	@extend .section-single-background;
	}
	.b4{
	background-image: url('/assets/image/background_s.5.jpg');
	}
}

.width-section{
	height:770px;
}

.sub-main-content{
    max-width: 76rem;
    padding: 2rem 6rem;
    margin: 0 auto;
		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: #111;
}
