.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.section-single-background{
  background-repeat: no-repeat;
  background-position: center;
}

.page-header {
	width: 100%;
  //background-image: url('/assets/image/banner_2.jpg');
  background-repeat: no-repeat;
  //background-size: contain;
	//background-size: auto auto;
	background-image: linear-gradient(90deg, $content-bg-color-secondary, $content-bg-color);
  background-position: center;
	background-color: $header-bg-color;
}

#banner{
	width: 100%;
	height: 12.45rem;
	//width: 1227px;
	//height: 201px;
	@extend .section-single-background;
	background-image: url('/assets/image/railrecon_banner.png');
  background-size: contain;
}

body{
	background-color: $bg-color;
}

.main-content{
  background-color: $content-bg-color;
  background-image: linear-gradient(90deg, $content-bg-color-secondary, $content-bg-color);
	.b0{
	}
	.b1{
	background-image: url('/assets/image/back_01_2.jpg');
	@extend .section-single-background;
	}
	.b2{
	background-image: url('/assets/image/background_s.5.jpg');
	text-align: right;
	}
	.b3{
	background-image: url('/assets/image/back_02.jpg');
	@extend .section-single-background;
	}
	.b4{
	background-image: url('/assets/image/background_s.5.jpg');
		text-align: right;
	}
	.b5{
	}
	h2{
	  font-size: 2.7rem;
	}
}


.total-width{
	width:100%;
}

.width-section{
	min-height:770px;
}

.sub-main-content{
    max-width: 76rem;
    padding: 2rem 6rem;
    margin: 0 auto;
		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
}

.site-footer{
    max-width: 76rem;
		min-height: 20rem;
    padding: 2rem 6rem;
    margin: 0 auto;
}

.sub-page-header{
    min-height: 30px;
    max-width: 76rem;
    margin: 0 auto;
		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
		overflow: auto;
		h1{
	    font-size: 1.5rem;
			float: left;
			display: block;
		}
		.social-button{
			float: right;
			position: relative;
			top: 0px;
			right: 0px;
			display: block;
			margin: 0px 5px;
		}
}

#top-section{
	padding: 0 0 0 0;
}

.nav-footer{
	width:100%;
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    //background-color: #333;
	}
	li {
	    float: left;
				width: 16.66%;
			a {
				text-align: center;
	    	color: #bbb;
			}
			a:hover {
				color: #ddd;
			}
	}
}

.topnav {
	padding: 3rem 0rem 1rem 0rem;
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	}
	li {
	    float: left;
	}
	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}
	li a:hover {
	    background-color: #111;
	}
}
