// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

$bg-color: #eee !default;

$content-bg-color: #424242 !default;
$content-bg-color-secondary: #333 !default;

// Headers
$header-heading-color: #dc5940 !default;
$header-bg-color: #545454 !default;
$header-bg-color-secondary: #3c3c3c !default;

// Text
$section-headings-color: #dc5940 !default;
$body-text-color: #eee !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
